body {
  font-family: 'Josefin Slab', serif;
  color: white;
}

h1{
  font-size: 200%; 
}

a:link, a:visited{
  background-color: #f44336;
  color: white;
  padding: 14px 14px 14px 14px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  width: 5%;
  height: 15px;
  margin: 10px;
}

a:hover, a:active{
  background-color: red);
}

.title {
  text-align: center;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlvv0IWUhFg5jSp2BWiIFYUEXcvw2QVHaeIcBKbVNdAwQAM03z");
  background-size: cover;
  padding: 10px;
  font-size: 180%;
}



.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  pointer-events: none;
  max-width: 3840px;
}

h1 {
  text-align: center;
}
