.title {
  text-align: center;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlvv0IWUhFg5jSp2BWiIFYUEXcvw2QVHaeIcBKbVNdAwQAM03z");
  background-size: cover;
  padding: 10px;
  font-size: 180%;
}

h1 {
  text-align: center;
}

.ppic{
  height: auto;
  width: 18%;
}

.about{
  display: flex;
  align-items: center;
  margin-right: 50px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
}


.bsec1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.bsec2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
}

img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

iframe {
  margin-top: 30px;
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Maybe?? */
}

.plang {
  order: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ttools {
  order: 2;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.newmusic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-left: 35px;
}