body {
  font-family: 'Josefin Slab', serif;
  color: black;
}


.title {
  text-align: center;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlvv0IWUhFg5jSp2BWiIFYUEXcvw2QVHaeIcBKbVNdAwQAM03z");
  background-size: cover;
  padding: 10px;
  font-size: 180%;
}

h1 {
  text-align: center;
}
